@media (prefers-color-scheme: dark) {
  :root {
    --bg: #f5f5f5;
    --text: #000000;
    --subtext: #8f8f8f;
    --linktext: #cb782f;
    --underline: #dadada;
    --sectionbg: #ffffff;
    --buttoncolor: #ffffff;
    --hoverbuttoncolor: #945922;
  }
}

/* пока не хочу использовать
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #010101;
    --text: #ffffff;
    --subtext: #8f8f8f;
    --linktext: #cb782f;
    --underline: #444444;
    --sectionbg: #1c1c1e;
    --buttoncolor: #ffffff;
    --hoverbuttoncolor: #945922;
  }
}
*/

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f5f5f5;
    --text: #000000;
    --subtext: #8f8f8f;
    --linktext: #cb782f;
    --underline: #dadada;
    --sectionbg: #ffffff;
    --buttoncolor: #ffffff;
    --hoverbuttoncolor: #945922;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 40px 0;
}

.header_avatar {
  border-radius: 50%;
}

.header_title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

.header_subtitle {
  
  color: var(--subtext);
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

.links {
  width: 320px;
  margin-bottom: 40px;
}

.links_header {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links_container {
  list-style-type: none;
  background: var(--sectionbg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links_link,
.links_title {
  font-size: 14px;
  font-size: 1.4;
}

.links_link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid var(--underline);
  width: 280px;
}

.links_link:last-child {
  border-bottom: none;
}

.links_links,
.links_link:visited {
  text-decoration: none;
  color: var(--linktext);
}

.links_title {
  margin: 0;
  min-width: 100px;
}

.footer {
  margin: 0 0 40px 0;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: var(--linktext);
  border-radius: 20px;
  border: none;
  outline: none;
  

  font-size: 14px;
  line-height: 1.4;

  color: var(--buttoncolor);
  text-decoration: none;
}

.button:hover { 
  background: var(--hoverbuttoncolor); 
  transition: 0.1s;
  width: 325px;
 }

.about {
  width: 320px;
  margin-bottom: 40px;
}

 .phrases_header {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.phrases_container {
  list-style-type: none;
  background: var(--sectionbg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.phrases {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid var(--underline);
  width: 280px;
  font-size: 14px;
  font-size: 1.4;
}

.phrases:last-child {
  border-bottom: none;
}

.phrase_title {
  margin: 0;
  min-width: 100px;
  font-size: 14px;
  font-size: 1.4;
}

.hidden {
  display: none;
}